package main

// set Spotify application details here
// and rename the file to SpotifyApplicationDetails.go
// do not check in to source control!
//
// https://developer.spotify.com/my-applications/

var _spotifyClientId = "SET ME"
var _spotifyClientSecret = "SET ME"