package main

// copy this file to SpotifyCredentials.go and set the account details there
// do not check in to source control!
//
// https://developer.spotify.com/my-applications/

func (s *Spotify) credentialsInit() {
	s.clientId = "SET ME"
	s.clientSecret = "SET ME"
}